registry=https://registry.npmjs.org/
//registry=https://pkgs.dev.azure.com/shs-ti-ux/_packaging/SHUIHTML5@Local/npm/registry/
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before ?12?/?3?/?2019.
; begin auth token
//pkgs.dev.azure.com/shs-ti-ux/_packaging/SHUIHTML5@Local/npm/registry/:username=SHUIHTML5
//pkgs.dev.azure.com/shs-ti-ux/_packaging/SHUIHTML5@Local/npm/registry/:_password=cHh3endmczVtenloNndndWltcGNqM2MzZ2w0d2RpZG52azRmN3p1a2J5bnRob29uYTNoYQ==
//pkgs.dev.azure.com/shs-ti-ux/_packaging/SHUIHTML5@Local/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/shs-ti-ux/_packaging/SHUIHTML5@Local/npm/:username=SHUIHTML5
//pkgs.dev.azure.com/shs-ti-ux/_packaging/SHUIHTML5@Local/npm/:_password=cHh3endmczVtenloNndndWltcGNqM2MzZ2w0d2RpZG52azRmN3p1a2J5bnRob29uYTNoYQ==
//pkgs.dev.azure.com/shs-ti-ux/_packaging/SHUIHTML5@Local/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
