<div >
  <!-- <sh-search label="Filter A Record Document" search-array='["John Doe","Alan Watts","Bhabani P"]' style="width:30%;">
    <sh-empty-state slot="empty" icon="document" label="No record found."></sh-empty-state>
  </sh-search> -->


  <div column="12"  style="padding-top: 20px;">
      <sh-grid style="padding-left: 2%; padding-top: 12px;">
          <sh-input-text label='Name' style="width:200px;" (value-changed)="model.name=$event.target.value"
          [value]=model.name mandatory></sh-input-text>
          <sh-input-number label='Age' value="20" style="width:200px;" (value-changed)="model.age=$event.target.value"
          [value]=model.age ></sh-input-number>
          <sh-datepicker mandatory label='Date Of Birth' style="width:200px;" (value-changed)="model.dob=$event.target.value"
          [value]=model.dob></sh-datepicker>
          <sh-input-text label='Address' style="width:200px;" (value-changed)="model.address=$event.target.value"
          [value]=model.address mandatory></sh-input-text>
          <input type="file" style="width: 100px;padding-top: 10px;margin-left: 6px;" icon="upload" (change)="upload($event.target.files)" />
          <ng-container *ngIf="uploadSuccess">
            <span style="color: red;font-size: medium;">Uploaded Successful</span>
          </ng-container>
       </sh-grid>
       
  </div>

  <sh-input-text label='Attched File' style="width:200px;margin-top:10px;margin-left:30px;" [value]=model.fileName  readonly mandatory ></sh-input-text>


  <!-- BUtton -->
  <sh-button color='Primary' style="margin-left:30px;margin-top:10px;" (click)="save()" label="Save"></sh-button>


  <sh-divider style="padding-top: 15px;"></sh-divider>

<div column="12" style="padding-top: 20px;">
  <sh-table>
    <sh-table-row slot="header">
        <sh-table-head columns="6">Name</sh-table-head>
        <sh-table-head columns="4">Age</sh-table-head>
        <sh-table-head columns="4">Date Of Birth</sh-table-head>
        <sh-table-head columns="8">Address</sh-table-head>
        <sh-table-head columns="4">File</sh-table-head>
        <sh-table-head icon>
            <sh-icon button icon="more" size="s" ></sh-icon>
        </sh-table-head>
    </sh-table-row>
    <sh-table-row *ngFor="let lc of students">
        <sh-table-cell columns="6">{{lc.name}}</sh-table-cell>
        <sh-table-cell columns="4">{{lc.age}}</sh-table-cell>
        <sh-table-cell columns="4">{{lc.dob}}</sh-table-cell>
        <sh-table-cell columns="8">{{lc.address}}</sh-table-cell>
        <sh-table-cell columns="4"><a href={{lc.fileUrl}}>{{lc.fileName}}</a></sh-table-cell>
        <sh-table-cell icon>
            <sh-icon button icon="more" (click)="deleteRecord(lc)"></sh-icon>
        </sh-table-cell>
    </sh-table-row>
</sh-table>
</div>
</div>


